body{
    margin: 0px;
    font-family: 'Ubuntu';
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: cadetblue;
}
.text-highlight{
    color: orangered;
}
nav{
    height: 60px;
    width: 100%;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #06d633;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
.half-width{
    text-align: left;
    width: 40%;
    float: left;
    margin-top: 2%;
    padding-left: 5%;
    
}
.half-width img{
    width: 60%;
}
.top-banner{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
section{
    height: 500px;
    padding-bottom: 130px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, blue, cyan);
    padding: 10px 20px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
}
.dream-area{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
#lower-middle{
    text-align: center;
}
.bottom-image img{
    width: 30%;
    position: left;
    padding-left: 2%;
}
h4{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 29px;
}

.work{
    float: left;
    background-image: url("shapes/Group_33094_1.png");
    background-repeat: no-repeat;
    width: 700px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 80px;
    margin-left: 220px;
    margin-right: 220px;
    padding: 60px 60px;
    border-radius: 5px;
}
.stk{
    float: left;
    padding-left: 5px;
    padding-bottom: 10px;
    width: 40%;
    width: 40%;
    padding-top: 20px;
}


footer p{
    text-align: center;
    text-decoration: none;
}